/* CSS for the ImportantDates component */
table {
  width: 70%;
  /* Decrease table width */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  /* Center the table horizontally */
  margin-right: auto;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 1rem;
  text-align: left;
}

th {
  text-align: center;
  background-color: #004080;
  color: #ffffff;
  font-size: 1.2rem;
}

th:nth-child(1),
td:nth-child(1),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  text-align: center;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30%;
  /* Decrease width of the second column */
  text-align: center;
  /* Center content of the Activity column */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h2 {
  margin-bottom: 10px;
}

/* CSS for the footer */
.foot {
  background-color: #004080;
  color: #ffffff;
  padding: 1.5rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.company-name {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.company-address {
  font-size: 1rem;
  margin-top: 0.5rem;
}